mock-external-resources/src/main/app/ldap-test.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:ldap="http://www.mulesoft.org/schema/mule/ldap"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ldap http://www.mulesoft.org/schema/mule/ldap/current/mule-ldap.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <context:property-placeholder location="classpath:config.properties"/>

    <ldap:config name="defaultLdapConfig" authDn="${ldap.auth.dn}" authPassword="${ldap.password}" url="${ldap.url}">
        <ldap:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
        <reconnect-forever/>
    </ldap:config>

    <vm:endpoint name="ldapDnExists" path="ldap.dn.exits" exchange-pattern="request-response"/>
    <flow name="ldap-test-flow">
        <inbound-endpoint ref="ldapDnExists"/>
        <logger level="INFO" category="ldap-test-flow" message="Checking existence of DN: #[payload]"/>
        <ldap:exists config-ref="defaultLdapConfig" dn="#[payload]"/>
        <logger level="INFO" category="ldap-test-flow" message="LDAP Query Results: #[payload]"/>
    </flow>
</mule>